

.projects {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .projects:hover,
    .projects:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    .main-second {
    padding-top: 94px;
    padding-bottom: 94px;
    }
    .advantage {
    display: flex;
    justify-content: center;
    gap: 30px;
    }
    .advantage-list {
    flex-basis: calc((100% - 90px) / 4);
    }
    
    .advantage-list-link {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-team);
    border-radius: 4px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    }
    
    .advantage-title {
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-title);
    margin-bottom: 10px;
    }
    .advantage-text {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--color-text);
    }