

.main-fifth {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var();
    }
    .klient {
    display: flex;
    justify-content: center;
    gap: 30px;  
    }
    
    .klient-list {
    width: 170px;
    height: 92px;
    }
    
    .klient-title {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 50px;
    }
    
    .klient-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: var(--color-icons);
    border: 1px solid;
    border-color: var(--color-icons);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .klient-list-link:hover,
    .klient-list-link:focus {
    border-color: var(--color-change);
    fill: var(--color-change);
    }
    
    .klient-list-link-icon:hover,
    .klient-list-link-icon:focus {
    border-color: var(--color-change);
    fill: var(--color-change);
    }