
.main-third {
    padding-top: 0px;
    padding-bottom: 94px;
    }
    .main-img {
    display: flex;
    justify-content: center;
    gap: 30px;
    }
    .main-work-title {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 50px;
    }
    
    .main-work-wrap {
        position: relative;
    }
    
    .main-third-work-text {
    position: absolute;
    display: flex;
    bottom: 4px;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 1.1428;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
    }